<div class="container">
		<div class="row">
			<div class="col">
				<a href=""><button type="button" class="btn btn-success btn-lg btn-block active">Add Voter</button></a>
				<br>
				<button type="button" class="btn btn-danger btn-lg btn-block disabled">Delete Voter</button>
				<br>
				<div class="alert alert-success">
					<strong>Success!</strong> Voter was registered successfully.
				</div> 
			</div>

			<div class="col">
				<a href="add_candidate.html"><button type="button" class="btn btn-success btn-lg btn-block active">Add Candidate</button></a>
				<br>
				<button type="button" class="btn btn-danger btn-lg btn-block disabled">Delete Candidate</button>
				<br>
				<div class="alert alert-success">
					<strong>Success!</strong> Candidate was registered successfully.
				</div> 
			</div>

			<div class="col">
				<a href="add_presinct.html"><button type="button" class="btn btn-success btn-lg btn-block active">Add Presinct</button></a>
				<br>
				<button type="button" class="btn btn-danger btn-lg btn-block disabled">Delete Presinct</button>
				<br>
				<div class="alert alert-success">
					<strong>Success!</strong> Presinct was added successfully.
				</div> 
			</div>

		</div>	
	</div>