<div class="container-fluid">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
       <div class="card">
        <div class="card-header">
          <h4 class="card-title">Candidate Registration</h4>
        </div>
        <div class="card-body">
          <form action="#"> <!--Site must get text and go to the finger print-->
            <div class="form-group">
              <label for="username"> First Name:</label>
              <input type="text" class="form-control" id="firstName" name="">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name:</label>
              <input type="text" class="form-control" id="lastName" name="">
            </div>
            <div class="form-group">
              <label for="candidateType">Candidate Type:</label>
              <div class="btn-group btn-group-lg">
                <button type="radio" class="btn btn-primary" name="candidateType" value="president">President</button>
                <button type="radio" class="btn btn-primary" name="candidateType" value="vicePresident">Vice President</button>
                <button type="radio" class="btn btn-primary" name="candidateType" value="senator">Senator</button>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      </div>

      <div class="col">
      </div>
      </div>
    </div>