<div class="container-fluid">
 	<div class="row">
 		<div class="col">
 		</div>

 		<div class="col">
 			<div class="card">
 				<div class="card-header">
 					<h4 class="card-title">Presinct Registration</h4>
 				</div>
 				<div class="card-body">
 					<form action="#"> <!--Site must get text and go to the finger print-->
 						<div class="form-group">
 							<label for="firstName">Name:</label>
 							<input type="text" class="form-control" id="name" name="">
 						</div>

 						<div class="dropdown">
 							<label for="region">Region:</label>
 							<select>
 								<option value="1">Region I - Ilocos Region</option>
 								<option value="2">Region II - Cagayan Valley</option>
 								<option value="3">Region III - Central Luzon</option>
 								<option value="4">Region IV-A - CALABARZON</option>
 								<option value="5">Region IV-B - MIMAROPA </option>
 								<option value="6">Region V - Bicol Region </option>
 								<option value="7">Region VI - Western Visayas</option>
 								<option value="8">Region VII - Central Visayas</option>
 								<option value="9">Region VIII - Eastern Visayas</option>
 								<option value="10">Region IX - Western Mindanao</option>
 								<option value="11">Region X - Northern Mindanao</option>
 								<option value="12">Region XI - Southern Mindanao</option>
 								<option value="13">Region XII - Central Mindanao</option>
 								<option value="14">Region XIII - Caraga Region</option>
 								<option value="15">NCR</option>
 								<option value="16">ARMM</option>
 								<option value="17">CAR</option>
 							</select>
 						</div>

 						<div class="dropdown">
 							<label for="provinces">Provinces:</label>
 							<select>
 								<option value="1">Nueva Ecija</option>
 								<option value="2">Zambales</option>
 								<option value="3">Quezon</option>
 								<option value="4">Cebu</option>
 							</select>
 						</div>

 						<div class="dropdown">
 							<label for="barangay">Barangay:</label>
 							<select>
 								<option value="1">Holy Spirit</option>
 								<option value="2">Matandang Balara</option>
 								<option value="3">Batasan Hills</option>
 								<option value="4">Payatas</option>
 								<option value="5">Commonwealth</option>
 							</select>
 						</div>

 						<br>
 						<div class="alert alert-danger">
 							<strong>Warning!!</strong> Please pick an option.
 						</div>  
 						<button type="submit" class="btn btn-primary" value="submit">Submit</button>
 					</form>
 				</div>
 			</div>
 		</div>


 		<div class="col">
 		</div>
 	</div>
 </div>