<div class="container-fluid">
	<div class="jumbotron">
		<h3>Results</h3>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">President</h4>
				</div>
				<ul class="list-group list-group-flush">

					<li class="list-group-item">
						<h5>Leonard Hofstadter</h5>
						<img src="leonard.jpg" class="img-circle" width="150" height="150">
						<h1>7593</h1>
						<h6>VOTES</h6>
					</li>
					<li class="list-group-item">
						<h5>Penny Hofstadter</h5>
						<img src="penny.jpg" class="img-circle" width="150" height="150">
						<h1>4865</h1>
						<h6>VOTES</h6>
					</li>
					<li class="list-group-item">
						<h5>Sheldon Cooper</h5>
						<img src="sheldon.jpg" class="img-circle" width="150" height="150">
						<h1>3409</h1>
						<h6>VOTES</h6>
					</li>

				</ul>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Vice President</h4>
				</div>
				<ul class="list-group list-group-flush">

					<li class="list-group-item">
						<h5>Pamela Isley</h5>
						<img src="pamela.jpg" class="img-circle" width="150" height="150">
						<h1>7593</h1>
						<h6>VOTES</h6>
					</li>
					<li class="list-group-item">
						<h5>Edward Nygma</h5>
						<img src="edward.jpg" class="img-circle" width="150" height="150">
						<h1>4865</h1>
						<h6>VOTES</h6>
					</li>
					<li class="list-group-item">
						<h5>Selina Kyle</h5>
						<img src="selina.png" class="img-circle" width="150" height="150">
						<h1>3409</h1>
						<h6>VOTES</h6>
					</li>

				</ul>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Senators</h4>
				</div>
				<div class="card-body">
					<h6 class="card-text">Insert Voted Senators Here</h6>
				</div>
			</div>
		</div>
	</div>
</div>